<div id='application_logo'>
	<img src="./images/quiz-logo_A.png" border="0" alt="Quiz Application"/>
</div>
<div id='session_info' align="center">
	<ul>
		<li>
			<label for="user_name">Enter your name</label>
		</li>
		<li>
			<input type='text' class="text_content" required="true" name="user_name" id="user_name" autofocus="true"/>
		</li>
		<li>
			<a href="#quiz" class='button' id='start'>
				Start Quiz
			</a>
		</li>
		<li>
			<a href="#help" class='button' id='help'>
				Help
			</a>
		</li>
	</ul>
</div>
</div>